{% extends 'base.html' %}

{% block content %}
<br>
    <h2 class="restTitle">{% block title %} Explore chefs in your area! {% endblock %}</h2>
    <br>
    {% for post in posts %}
    <div class="flex-rest-full">
        <a href="{{ url_for('restaurant', post_id=post['id']) }}">
            <h3>{{ post['name'] }}</h3>
        </a>

    <div>
            <span style="">
              {{ post['full_add'] }}
            </span>
    <div class="flex-restaurant">
        {% if post['genre'] != "none" %}
            <span style="background-color: #DD2E44">
              {{ post['genre'] }}
            </span>
        {% endif %}
        <span style="">
          {{ post['phone'] }}
        </span>
        {% for tag in post['tags'] %}
          <span style="background-color: #5C913B">
            {{ tag }}
          </span>
        {% endfor %}
</div>
</div>
    </div>
        {% endfor %}
    <hr>

{% endblock %}
